﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <p><button onclick="send();">Send</button></p>
    <p>Answer</p>
    <p id="answerbox"></p>

</div>

<script>
    var testsocket = new WebSocket("wss://localhost:44366/ws");

    testsocket.onmessage = function (e) {
        document.getElementById("answerbox").innerHTML += "\nReceived: " + e.data;
    };

    function send() {
        testsocket.send("testText!");
    };
</script>